<div ng-controller="ftpController">
    <div class="form-group">
        <label>Login</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-info"></i>
            </div>
            <input type="text" class="form-control" ng-model="nom">
        </div>
        <!-- /.input group -->
    </div>
    <div class="form-group">
        <label>Login</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-info"></i>
            </div>
            <input type="text" class="form-control" ng-model="motdepass">
        </div>
        <!-- /.input group -->
    </div>
    <button  ng-click="go()" type="button" class="btn btn-info">Enregister</button>
</div>



